/* src/components/AnimatedText.css */
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .animation-bounce {
    animation: bounce 1s infinite;
  }
  
/* src/components/AnimatedText.css */
/* src/components/AnimatedText.css */
@keyframes snake {
    0%, 100% {
        transform: translateY(0);
        color: rgb(255, 255, 255);
        background-color: black;
      }
      5% {
        transform: translateY(-2px);
        color: #ffffff;
      }
      10% {
        transform: translateY(-4px);
        color: #222;
      }
      15% {
        transform: translateY(-6px);
        color: #333;
      }
      20% {
        transform: translateY(-8px);
        color: #444;
      }
      25% {
        transform: translateY(-10px);
        color: #555;
      }
      30% {
        transform: translateY(-8px);
        color: #666;
      }
      35% {
        transform: translateY(-6px);
        color: #777;
      }
      40% {
        transform: translateY(-4px);
        color: #888;
      }
      45% {
        transform: translateY(-2px);
        color: #999;
      }
      50% {
        transform: translateY(0);
        color: #aaa;
      }
      55% {
        transform: translateY(2px);
        color: #bbb;
      }
      60% {
        transform: translateY(4px);
        color: #ccc;
      }
      65% {
        transform: translateY(6px);
        color: #ddd;
      }
      70% {
        transform: translateY(8px);
        color: #eee;
      }
      75% {
        transform: translateY(10px);
        color: #fff;
      }
      80% {
        transform: translateY(8px);
        color: #eee;
      }
      85% {
        transform: translateY(6px);
        color: #ddd;
      }
      90% {
        transform: translateY(4px);
        color: #ccc;
      }
      95% {
        transform: translateY(2px);
        color: #bbb;
      }
  }

  .snake-animation {
    display: inline-block;
    animation: snake 3s infinite;
    animation-timing-function: ease-in-out;
  }
  